/*** https://developer.mozilla.org/en-US/docs/Web/CSS/font-smooth **/

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

html {
  scroll-behavior: smooth;
  background: #fffef2;
}

/* Styling variabler */

:root {
  --background: #fffef2;
  --sand: #fef0bd;
  --grey: #edebdf;
  --lightgrey: #f7f5e7;
  --brown: #67544d;
  --red: #c73f0b;
  --black: #1e1e1e;
  --h1: "ivypresto-display", serif;
  font-weight: 400;
  font-style: normal;
  --h2: "mundial", sans-serif;
  font-weight: 400;
  font-style: normal;
  --p: "mundial-narrow-variable", sans-serif;
  font-variation-settings: "wght" 300;
}
