/* Font styling */
h1 {
  font-family: var(--h1);
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-family: var(--h2);
  color: var(--black);
}

p {
  font-family: var(--p);
  color: var(--lightgrey);
}

a {
  font-family: var(--p);
  text-decoration: none;
  color: var(--lightgrey);
}

span {
  font-family: var(--p);
  font-weight: bold;
  color: var(--lightgrey);
}

/* Announcement bar */

.announcement-bar {
  background-color: var(--red);
  color: white;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  padding: 8px 0;
}

.announcement-content {
  display: inline-block;
  animation: scrollText 50s linear infinite;
  padding-left: 100%;
}

.announcement-text {
  font-size: 14px;
  letter-spacing: 0.5px;
}

@keyframes scrollText {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.announcement-spacer {
  display: inline-block;
  padding: 0 150px;
  font-size: 14px;
  opacity: 0.8;
}

.announcement-bar:hover .announcement-content {
  animation-play-state: paused;
}

/* Header */

/* Navigation */

.nav {
  background-color: var(--background-color);
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav-links a {
  color: var(--black);
  font-weight: bold;
  font-size: 1.2rem;
}

.nav-content {
  display: flex;
  justify-content: right;
  gap: 30px;
  align-items: center;
  margin: 0 auto;
}

.burger-menu {
  position: absolute;
  left: 3%;
  display: flex;
  flex-direction: column;
  gap: 6px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.burger-menu span {
  display: block;
  width: 25px;
  height: 2px;
  background-color: var(--black);
  transition: 0.3s;
}

/* Mobile Menu */
.mobile-menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 60%;
  height: 100vh;
  background-color: var(--lightgrey);
  z-index: 1000;
  transition: 0.3s;
  padding: 3rem 0 0 2rem;
}

.mobile-menu.active {
  left: 0;
}

.menu-header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2rem;
}

.close-menu {
  position: absolute;
  left: 7%;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.menu-links {
  list-style: none;
}

.menu-links a {
  display: block;
  padding: 1rem 0;
  font-size: 1.2rem;
  color: var(--black);
  text-decoration: none;
  border-bottom: 1px solid #eee;
}

/* Hero Section */

.hero-logo {
  position: absolute;
  top: 40%;
  left: 30%;
  transform: translate(-50%, -50%);
  z-index: 3;
  width: 15rem;
  transition: all 0.3s;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.hero {
  position: relative;
  height: 60svh;
  overflow: hidden;
}

.hero-content {
  position: relative;
  height: 100%;
  width: 100%;
}

.hero-content video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-text a {
  position: relative;
  margin-top: 20px;
  cursor: pointer;
  font-size: 1.1rem;
  text-align: center;
  padding: 0.7rem;
  padding-inline: 2rem;
  height: fit-content;
  width: fit-content;
  border: 2px solid var(--lightgrey);
  left: 1.2rem;
  transition: all 0.3s;
}

.hero-text a:hover {
  background: var(--black);
  color: var(--lightgrey);
  border: 2px solid var(--black);
  transition: all 0.3s;
}

.hero-text {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: absolute;
  padding: 1rem;
  width: 12rem;
  height: 15rem;
  bottom: 1rem;
  right: 3.5rem;
  color: white;
  font-size: 1.6rem;
  z-index: 3;
  transition: all 0.3s;
}

.grid-start {
  align-self: flex-start;
}

.grid-end {
  align-self: end;
}

/* Category Section */

.category-section {
  max-width: 1400px;
  padding: 2rem;
  margin-inline: auto;
  margin-top: 30px;
}

.category-section h2 {
  padding-left: 10px;
}

.categories {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-top: 50px;
}

.category {
  position: relative;
  margin: 10px;
  cursor: pointer;
}

.category img {
  display: block;
  width: 100%;
  height: auto;
}

.category .text {
  position: absolute;
  bottom: 5%;
  left: 5%;
  color: var(--lightgrey);
  font-size: 2.5rem;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 3;
}

.category-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  z-index: 2;
  transition: opacity 0.3s ease;
}

.category-overlay:hover {
  opacity: 1;
}

.category:hover .text {
  opacity: 1;
}

/* Desktop Styling */

@media (min-width: 768px) {
  .burger-menu {
    display: none;
  }

  .nav-links {
    display: block;
  }

  .category-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .features {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer-sections {
    grid-template-columns: repeat(2, 1fr);
  }

  .categories {
    grid-template-columns: repeat(2, 1fr);
  }

  .categories {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .hero-logo {
    width: 25rem;
    transition: all 0.3s;
  }

  .hero-text {
    width: 12rem;
    height: 15rem;
    bottom: 5%;
    right: 20%;
    transition: all 0.3s;
  }
}
