img {
  display: block;
  width: auto;
}

h2 {
  font-weight: 300;
}

h3 {
  font-family: "mundial", sans-serif;
  font-weight: 400;
  color: var(--black);
  padding-top: 1rem;
}

h3 span {
  font-family: "mundial", sans-serif;
  font-weight: 400;
  color: rgb(112, 112, 112);
  padding-top: 1rem;
}

p {
  color: var(--black);
  padding-top: 1rem;
}

html {
  background-color: #fffef2;
}

.breadcrumbs {
  margin-bottom: 20px;
}

.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  position: relative;
}

.image_container img {
  max-height: 70%;
  max-width: 100%;
}

.image_container {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  padding-top: 2rem;
}

.position {
  position: relative;
}

.image_box {
  background-color: var(--grey);
  width: 100%;
  padding-top: 3rem;
  position: relative;
}

.image_box div {
  margin-bottom: -180px;
}

.image_box div:last-child {
  margin-bottom: 0;
}

.text_box {
  background-color: var(--lightgrey);
  position: sticky;
  bottom: 0;
  z-index: 10;
  max-width: 100%;
  min-height: auto;
}

.text_box p {
  font-size: 0.8rem;
  margin-bottom: 10px;
}

.text_box h1 {
  font-size: 1.6rem;
}

.text_box h3 {
  font-size: 1rem;
}

.margin {
  margin: 1rem 2rem 2rem;
}

.cart_button {
  background-color: var(--black);
  color: var(--background);
  width: 100%;
  margin-top: 30px;
  padding: 0.8rem;
  font-size: 0.8rem;
  letter-spacing: 4px;
  cursor: pointer;
}

/* rabat label */
.discount {
  position: absolute;
  top: 3%;
  right: 0%;
  text-align: center;
  background-color: var(--black);
  width: 30%;
  color: var(--background);
  font-weight: bold;
  visibility: hidden;
  padding-bottom: 0.5rem;
  opacity: 70%;
  padding-top: 0.5rem;
}

.foerpris {
  text-decoration: line-through;
  text-decoration-thickness: 2px;
  color: grey;
}

.white {
  color: var(--background);
}

/* sold out label */
.sold_out {
  position: absolute;
  top: 3%;
  left: 0%;
  text-align: center;
  background-color: var(--black);
  width: 30%;
  color: var(--background);
  visibility: hidden;
  padding-bottom: 0.4rem;
  opacity: 70%;
  padding-top: 0.5rem;
}

.sold_out_img {
  opacity: 0.5;
  filter: grayscale(100%);
}

.margin span {
  color: var(--black);
}

/* states til labels */

.hide {
  display: none;
}

.position {
  position: relative;
}

.tilbudHidden {
  visibility: hidden;
}

.isOnSale {
  visibility: visible;
}

.isSoldOut {
  visibility: visible;
}

@media (min-width: 768px) {
  .grid_1-1 {
    grid-template-columns: 1fr 1fr;
  }

  .image_box {
    grid-row: auto;
    grid-column: 1;
  }

  .text_box {
    position: sticky;
    top: 0;
    bottom: auto;
    padding-block: 2rem;
    grid-row: auto;
    grid-column: 2;
  }

  .text_box {
    background-color: var(--lightgrey);
    position: sticky;
    bottom: 0;
    z-index: 10;
    max-width: 100%;
    min-height: auto;
  }

  .text_box p {
    font-size: 1.2rem;
    margin-bottom: 60px;
  }

  .text_box h1 {
    font-size: 2.5rem;
  }

  .text_box h3 {
    font-size: 1.3rem;
  }

  .cart_button {
    margin-top: 50px;
    padding: 1rem;
    font-size: 1.2rem;
    letter-spacing: 4px;
    cursor: pointer;
  }

  .margin {
    position: sticky;
    top: 20px;
    max-width: 72%;
    margin-inline: auto;
  }
}
